form {
    width: 50%;
}

textarea {
    min-height: 10rem !important;
    resize: none;
}

.btn-secondary{
    background-color: #FFF;
    border-color: #834e00;
    color: #834e00;
}

.btn-secondary:hover{
    background-color: #834e00;
    color: #FFF;
}