<h1>Carrito</h1>
<!-- 
<ul>
    @for (producto of shoppingCartList$ | async; track producto.name) {
        <li>{{producto.name}} - {{producto.quantity}}</li>
    }
    @empty {
        <li>No hay productos en el carrito.</li>}
</ul> -->
@if((total() | async) != 0){
    <div id="cart" class="container text-center">
            <table class="table">
                <thead>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                    
                </thead>
                <tbody class="table-group-divider">
                    @for (producto of shoppingCartList$ | async; track producto.name) {
                        <tr>
                            <td class="name">{{producto.name}}</td>
                            <td>{{producto.quantity}}</td>
                            <td>{{producto.price * producto.quantity | currency}}</td>
                            <td><button class="btn btn-outline-secondary btn-sm" (click)="removeFromCart(producto)">Eliminar</button></td>
                        </tr>    
                    }
                </tbody>
                <tfoot class="table-group-divider total-text">
                    <td colspan="2" class="total-text">TOTAL: </td>
                    <td colspan="2">{{(total() | async) | currency}}</td>
                </tfoot>
            </table>    
            <button type="button" class="btn btn-secondary btn-sm">Finalizar Compra</button>
        </div>
}
@else {
    <p class= "text-escondary">El carrito está vacío. ¿¿Qué esperás para comprar??</p>
}
