<h1>Los Criollos</h1>
<h3>Un proyecto familiar con la excelencia como norte.</h3>

<p>Somos un emprendimiento familiar de la ciudad de Tandil, que crece año a año. </p>
<p>Para nosotros, lo más importante es llevarte un producto de primera calidad, con excelente terminación y que garantice tu satisfacción.</p>
<p>Si un producto está fuera de stock, contactanos y lo fabricamos a pedido, aunque esto puede variar los tiempos de entrega.</p>
<p>Hacemos envios a todo el país. </p>
<p>Nuestros cuchillos están hechos con hojas en acero al carbono o en acero inoxidable (marca Schmieden y Seigen). </p>
<p>Trabajamos con cabos de alpaca, madera (Guayubira, Mora o Cancharana) combinada con alpaca, tiento trenzado o madera combinada con ciervo, hueso de vaca, uña de ñandú, etc.</p>
<p>Te ofrecemos un producto tradicionalista único y de altísima calidad. Uno de nuestros cuchillos es ideal para hacer un regalo (sea personal o empresarial), pero también vas a encontrar muchos productos más: juegos de quincho de 12 y 24 piezas, conjunto de picnic, de trinchar, chairas, discos, parrillas, bombillas de alpaca, etc.</p>

  