.hero-section {
    background: url('../../../public/assets/img/hero-image.png') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 10px;
    background-color: rgba($color: #834e00, $alpha: 0.6);
    border-radius: 0.4rem;
}

.hero-section p {
    font-size: 1.5em;
    margin-bottom: 20px;
    background-color: rgba($color: #834e00, $alpha: 0.6);
    border-radius: 0.4rem;
}

.cta-button {
    background-color: #834e00;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 1.2em;
    margin: 5px;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #e63900;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    font-size: 1.2em;
    line-height: 1.6;
}