<header class="hero-section">
    <h1>Cuchillos Artesanales de Tandil: Calidad y Tradición</h1>
    <p>Descubre nuestros juegos de cuchillos artesanales de 12 y 24 piezas, hechos a mano con materiales de altísima calidad.</p>
    <a href="#more-info" class="cta-button">Obtener más info</a>
    <a [routerLink]="['/productos']" class="cta-button">Comprar ahora</a>
</header>
<main>
    <section id="products">
        <h2>Presentamos nuestros Productos Estrella</h2>
        <p>Nuestros juegos de cuchillos de 12 y 24 piezas son el resultado de una artesanía cuidada y una pasión por la excelencia. Cada cuchillo está meticulosamente forjado a mano, utilizando acero al carbono o acero inoxidable de la más alta calidad. Diseñados para durar y proporcionar una experiencia de corte inigualable.</p>
    </section>
    <section id="quality">
        <h2>Calidad y Personalización</h2>
        <p>La dedicación en la fabricación de nuestros cuchillos se refleja en su calidad excepcional. Todos nuestros cuchillos vienen perfectamente afilados, listos para ser usados desde el primer momento. Además, ofrecemos la posibilidad de personalizar cada pieza grabando las iniciales, añadiendo un toque único y especial.</p>
    </section>
    <section id="experience">
        <h2>Una Experiencia de Usuario Incomparable</h2>
        <p>En Los Criollos Tandil, nos enorgullecemos de ofrecer no solo productos de alta calidad, sino también una experiencia de usuario extraordinaria. Desde la facilidad de compra hasta la personalización y la entrega, cada paso está pensado para satisfacer a nuestros clientes.</p>
    </section>
</main>